---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: false
---

{% include base_path %}

{% assign publications = site.publications | sort: "date" | reverse %}

<p class="publication-note">
  See also <a href="{{ site.author.googlescholar }}">Google Scholar</a> for citation data and a complete indexed list.
</p>

<ol class="publication-list">
  {% for post in publications %}
    <li class="publication-item">
      <p class="publication-title">
        {% if post.paperurl %}
          <a href="{{ post.paperurl }}">{{ post.title }}</a>
        {% else %}
          {{ post.title }}
        {% endif %}
      </p>
      {% if post.authors %}
        <p class="publication-authors">{{ post.authors }}</p>
      {% endif %}
      {% if post.publication %}
        <p class="publication-venue">{{ post.publication }}</p>
      {% elsif post.citation %}
        <p class="publication-venue">{{ post.citation }}</p>
      {% endif %}
      {% if post.paperurl %}
        <p class="publication-links"><a href="{{ post.paperurl }}">[link]</a></p>
      {% endif %}
    </li>
  {% endfor %}
</ol>
